main {
  background-color: #47c588;
  padding: 20px;
}

main h1 {
  text-align: center;
  padding: 0 20px;
}

main form {
  width: 40%;
  margin: 40px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  min-height: 450px;
  padding: 40px 25px;
  border-radius: 5px;
}

main form h2 {
  text-align: center;
}

main form label {
  margin-top: 25px;
  margin-bottom: 2px;
  font-weight: bold;
  font-size: 20px;
}

main form input {
  height: 40px;
  border-radius: 5px;
  border: none;
  padding-left: 15px;
}

main form input::-webkit-input-placeholder {
  color: red;
}

main form input:-ms-input-placeholder {
  color: red;
}

main form input::-ms-input-placeholder {
  color: red;
}

main form input::placeholder {
  color: red;
}

main form input.error {
  border: 2px solid red;
}

main form span.error {
  color: red;
}

main form button {
  display: inline-block;
  padding: 12px 30px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  font-size: 18px;
}

main form div {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

main form div a {
  margin-top: 10px;
  color: white;
  font-size: 20px;
  text-decoration: none;
}

@media screen and (max-width: 860px) {
  main form {
    width: 60%;
  }
}
@media screen and (max-width: 560px) {
  main form {
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  main form {
    padding: 20px;
    width: 90%;
  }
}
@media screen and (max-width: 400px) {
  main form div {
    flex-direction: column;
  }
  main form div a {
    text-align: center;
    margin-top: 20px;
  }
}

@media screen and (max-width: 360px) {
  main {
    padding: 10px;
  }
  main form {
    border: none;
    padding: 20px 10px;
  }
}
