*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  font-size: 16px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  margin: 0;
}
a {
  color: black;
  list-style-type: none;
  text-decoration: none;
}
header {
  background-color: #eee;
  padding: 40px 60px;
  display: flex;
  justify-content: space-between;
  h2 {
    margin: 0;
  }
  nav {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    a {
      font-size: 1.2rem;
      position: relative;
      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        position: absolute;
        background-color: #000;
        transform-origin: left;
        transform: scaleX(0);
        transition: transform 0.4s ease-out;
      }
      &:hover::after {
        transform: scaleX(1);
      }
    }
  }
  #openMenu,
  #closeMenu {
    display: none;
  }
}

footer {
  background-color: #000;
  color: white;
  text-align: center;
  padding: 40px 0;
}

@media screen and (max-width: 1024px) {
  header {
    padding: 30px 45px;
    nav {
      width: 45%;
    }
  }
}

@media screen and (max-width: 680px) {
  header {
    nav {
      width: 55%;
    }
  }
  footer {
    padding: 20px;
  }
}

@media screen and (max-width: 520px) {
  header {
    nav {
      position: absolute;
      inset: 0;
      z-index: 4;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 200px;
      background-color: rgba(0, 0, 0, 0.6);
      transition: transform 0.4s ease-in-out;
      transform: translateX(-100%);
      a {
        color: white;
        &:nth-child(1) {
          position: absolute;
          display: block;
          font-size: 40px;
          font-weight: bolder;
          top: 15px;
          right: 40px;
        }
      }
    }
    nav.visible {
      transform: translateX(0);
    }
    #openMenu,
    #closeMenu {
      display: block;
    }
  }
  footer {
    padding: 16px;
  }
}
